<footer class="bg-gray-800" aria-labelledby="footerHeading">
    <h2 id="footerHeading" class="sr-only">Footer</h2>
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <div class="md:grid md:grid-cols-3 md:gap-8">
            <div>
                <ul class="mt-4 space-y-4">
                    <li>
                        <span class="text-base text-white"> PRADO OFFICE CENTER </span> <br>
                        <span class="text-base text-gray-500">Carrera 54 N° 68-196 Office 423<br>Barranquilla/ Colombia</span>  
                    </li>
                </ul>
            </div>
            <div class="mt-12 md:mt-0">
                <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase"></h3>
                <ul class="mt-4 space-y-4">               
                    <li>
                        <span class="text-base text-white"> Call Us. </span> <br>
                        <span class="text-base text-gray-500">Cellphone: (+57) 304 5254119</span>  
                        <span class="text-base text-gray-500">Phone: (+57) (5) 3144870</span>                                
                    </li>
                </ul>
            </div>
            <div class="mt-12 md:mt-0">
                <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase"></h3>
                <ul class="mt-4 space-y-4">
                    <li>
                        <span class="text-base text-white"> Mail Us. </span> <br>
                        <a href="mailto:comercial@ciagropecuariadelcaribe.com" class="text-base text-gray-500 hover:text-gray-900">
                            comercial@ciagropecuariadelcaribe.com
                        </a>
                        <a href="mailto:iagropecuariadelcaribe@gmail.com" class="text-base text-gray-500 hover:text-gray-900">
                            iagropecuariadelcaribe@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-8">
            <p class="text-base text-white md:mt-0 md:order-1">
                &copy; 2021 CI Agropecuaria del Caribe, Inc. All rights reserved.
            </p>
        </div>
    </div>
</footer>
  